.backButtonContainer {
    padding: 20px 20px;
}

.backButton {
    padding: 10px 20px;
    font-size: 12px;
    border: 1px solid var(--primary-color);
    border-radius: 12px;
    background: var(--header-bg);
    color: var(--header-text);
    cursor: pointer;
    transition: background-color 0.2s;
}
